input::placeholder {
  color: #fff;
}

input[placeholder],
[placeholder],
*[placeholder] {
  color: #fff !important;
}

hr {
  height: 7px;
}

.navbar {
    position: sticky;
    top: 0;
    box-shadow: 0 0 3px 0;
}